In [16]:
import pandas as pd
import sql

In [17]:
data ='adult.data.csv'

In [18]:
df = pd.read_csv(
    data,
    sep=',',
    delimiter=None,
    header='infer',
    names=None,
    index_col=None,
    usecols=None,
    dtype=None,
    engine=None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace=False,
    skiprows=None,
    skipfooter=0,
    nrows=None,
    na_values=None,
    keep_default_na=True,
    na_filter=True,
    verbose=False,
    parse_dates=False,
    infer_datetime_format=False,
    keep_date_col=False,
    date_parser=None,
    dayfirst=False,
    iterator=False,
    chunksize=None,
    compression='infer',
    thousands=None,
    decimal='.',
    lineterminator=None,
    quotechar='"',
    quoting=0,
    doublequote=True,
    escapechar=None,
    comment=None,
    encoding=None,
    encoding_errors='strict',
    dialect=None,
    delim_whitespace=False,
    low_memory=True,
    memory_map=False,
    float_precision=None,
    on_bad_lines='warn'  # Corrected from True to 'warn'
)

print(df)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

/var/folders/7d/nsx0ykqj2wgd34slxv9hcm040000gn/T/ipykernel_1732/2668610031.py:1: FutureWarning: The 'keep_date_col' keyword in pd.read_csv is deprecated and will be removed in a future version. Explicitly remove unwanted columns after parsing instead.
  df = pd.read_csv(
/var/folders/7d/nsx0ykqj2wgd34slxv9hcm040000gn/T/ipykernel_1732/2668610031.py:1: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv(
/var/folders/7d/nsx0ykqj2wgd34slxv9hcm040000gn/T/ipykernel_1732/2668610031.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(
/var/folders/7d/nsx0ykqj2wgd34slxv9hcm040000gn/T/ipykernel_1732/2668610031.py:1: FutureWarning: The 'verbose' keyword in pd.read_csv is deprecated and will be removed in a future version.
  df = pd.read_csv(
/var/folders/7d/nsx0ykqj2wgd34slxv9hcm040000gn/T/ipykernel_1732/2668610031.py:1: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(

In [86]:
#1
res_fem=df[df["sex"]=="Female"]
res_male=df[df["sex"]=='Male']
print(res_male.shape[0])
print(res_fem.shape[0])

21790
10771

In [235]:
#2
av_age_fe=df[df["sex"] == "Female"]["age"].mean()

print(int(av_age_fe))
print(av_age_fe.round(1))

36
36.9

In [89]:
#3
germ_native = df[df["native-country"]=='Germany']
print(germ_native.shape[0])

137

In [90]:
percent_germ=(df.shape[0]/germ_native.shape[0])*0.01
print(f"German native from whole data is {percent_germ}%, wich is apprx {round(percent_germ)}%")

German native from whole data is 2.3767153284671534%, wich is apprx 2%

In [236]:
#4-5
avr_age_50pl=df[df["salary"]=='>50K']['age'].mean()
stat_devia_50pl=df[df["salary"]=='>50K']['age'].std()

print(avr_age_50pl)
print(avr_age_50pl.round(1))

44.24984058155847
44.2

In [102]:
print(stat_devia_50pl)

10.519027719851826 0.0

In [108]:
avr_age_less_50=df[df["salary"]=='<=50K']['age'].mean()
print(avr_age_less_50)

36.78373786407767

In [113]:
stat_dev_less_50=df[df["salary"]=='<=50K']['age'].std()
print(stat_dev_less_50)

In [117]:
#6
educ_more_50K=df[df["salary"]=='>50K']["education"]
print(educ_more_50K)

7             HS-grad
8             Masters
9           Bachelors
10       Some-college
11          Bachelors
             ...
32539       Doctorate
32545      Assoc-acdm
32554         Masters
32557         HS-grad
32560         HS-grad
Name: education, Length: 7841, dtype: object

In [134]:
res= df.groupby('education').size
print(res)

<bound method GroupBy.size of <pandas.core.groupby.generic.DataFrameGroupBy object at 0x1215dcb20>>

In [146]:
hg=[' Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

In [175]:
ppl_with_high_salary = df[df['salary'] == '>50K']

hg_salery_more_50 = ppl_with_high_salary[ppl_with_high_salary['education'].isin(hg)]

not_in_set = ppl_with_high_salary[~ppl_with_high_salary['education'].isin(hg)]

if not_in_set.empty:
    print("Так, всі люди, які отримують більше 50K, мають як мінімум вищу освіту.")
else:
    print("Ні, деякі люди, які отримують більше 50K, не мають вищої освіти.")
    print(f"Кількість людей без вищої освіти, які отримують більше 50K: {not_in_set.shape[0]}")

Ні, деякі люди, які отримують більше 50K, не мають вищої освіти.
Кількість людей без вищої освіти, які отримують більше 50K: 7841

In [176]:
#7
stat_age_nat=df.groupby(['race','sex'])['age'].describe()

In [177]:
print(stat_age_nat)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [181]:
max_age_am_esk=df[(df['race']=='Amer-Indian-Eskimo')& (df['sex']=='Male')]['age'].max()
print(f'{max_age_am_esk} is maximum age of American-Indian-Eskimo')

82 is maximum age of American-Indian-Eskimo

In [206]:
#8
married = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']
man_total=df[df['sex']=="Male"]
married_rich=df[(df['marital-status'].isin(married))&(df['salary']=='>50K')&(df['sex']=="Male")].shape[0]
print(res)

5965

In [226]:
married = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']

men_df = df[df['sex'] == 'Male']
rich_men_df = men_df[men_df['salary'] == '>50K']

rich_married_men = rich_men_df[rich_men_df['marital-status'].isin(married)].shape[0]
total_married_men = men_df[men_df['marital-status'].isin(married)].shape[0]

rich_unmarried_men = rich_men_df[~rich_men_df['marital-status'].isin(married)].shape[0]
total_unmarried_men = men_df[~men_df['marital-status'].isin(married)].shape[0]

share_rich_married_men = rich_married_men / total_married_men
share_rich_unmarried_men = rich_unmarried_men / total_unmarried_men

print(f"Частка багатих серед одружених чоловіків: {share_rich_married_men:.2%}")
print(f"Частка багатих серед не одружених чоловіків: {share_rich_unmarried_men:.2%}")

if share_rich_married_men > share_rich_unmarried_men:
    print("Серед одружених чоловіків більша частка багатих (>50K).")
else:
    print("Серед не одружених чоловіків більша частка багатих (>50K).")

Частка багатих серед одружених чоловіків: 44.05%
Частка багатих серед не одружених чоловіків: 8.45%
Серед одружених чоловіків більша частка багатих (>50K).

In [228]:
#9
max_hours_per_week = df['hours-per-week'].max()

people_working_max_hours = df[df['hours-per-week'] == max_hours_per_week].shape[0]

rich_people_working_max_hours = df[(df['hours-per-week'] == max_hours_per_week) & (df['salary'] == '>50K')].shape[0]

percentage_rich = (rich_people_working_max_hours / people_working_max_hours) * 100

print(f"Максимальна кількість годин на тиждень: {max_hours_per_week}")
print(f"Кількість людей, які працюють {max_hours_per_week} годин на тиждень: {people_working_max_hours}")
print(f"Кількість багатих людей серед них: {rich_people_working_max_hours}")
print(f"Відсоток багатих людей серед тих, хто працює {max_hours_per_week} годин на тиждень: {percentage_rich:.2f}%")

Максимальна кількість годин на тиждень: 99
Кількість людей, які працюють 99 годин на тиждень: 85
Кількість багатих людей серед них: 25
Відсоток багатих людей серед тих, хто працює 99 годин на тиждень: 29.41%

In [234]:


avg_hours = df.groupby(['native-country', 'salary'])['hours-per-week'].mean().unstack()

print("Середня кількість годин на тиждень для багатих і бідних людей по країнах:")
print(avg_hours)

Середня кількість годин на тиждень для багатих і бідних людей по країнах:
salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000